body {
    background-color: black;
    color: grey;
    font-size: 30pt;
}

#about {
    display:inline-block;
}
#aboutpicture {
    border: 1px;
    border-color: white;
}
#navigationbar {
    background-color: lightgray;
}